page-todos {
  .warning{
    color: red;
  }

  h3:first-child{
    margin-top: 0.3em !important;
  }

  item-divider{
    padding-top: 10px;
    background-color: transparent;
    color: color($colors, light);
    font-style:italic;
  }
}
